[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "pharmaversesdtmjnj"]
	path = pharmaversesdtmjnj
	url = https://github.com/cran/pharmaversesdtmjnj
